<app-page-title pageTitle="Create Account"></app-page-title>

<div *ngIf="isValidFormSubmitted" class="mx-auto w-1/2 rounded mb-4 p-4 text-xl text-center text-white bg-green-600">
    Form submitted successfully.
</div>

<form *ngIf="!isValidFormSubmitted" class="w-1/2 mx-auto" [formGroup]="createAccountForm" (ngSubmit)="ngOnSubmit()" novalidate>
    <div class="mb-4">
        <label class="block text-md font-light mb-2 font-semibold" for="firstName">First Name</label>
        <input formControlName="firstName" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="First Name">
        <div *ngIf="createAccountForm.controls.firstName.dirty && createAccountForm.controls.firstName.errors" class="text-red-500">
            <span *ngIf="createAccountForm.controls.firstName.errors.required">First Name is required</span>
        </div>
    </div>
    <div class="mb-4">
        <label class="block text-md font-light mb-2 font-semibold" for="lastName">Last Name</label>
        <input formControlName="lastName" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Last Name">
        <div *ngIf="createAccountForm.controls.lastName.dirty && createAccountForm.controls.lastName.errors" class="text-red-500">
            <span *ngIf="createAccountForm.controls.lastName.errors.required">Last Name is required</span>
        </div>
    </div>
    <div class="mb-4">
        <label class="block text-md font-light mb-2 font-semibold" for="email">Email</label>
        <input formControlName="email" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Email">
        <div *ngIf="createAccountForm.controls.email.dirty && createAccountForm.controls.email.errors" class="text-red-500">
            <span *ngIf="createAccountForm.controls.email.errors.required">Email is required</span>
            <span *ngIf="createAccountForm.controls.email.errors.email">Email is not valid</span>
        </div>
    </div>
    <div class="mb-4">
        <label class="block text-md font-light mb-2 font-semibold" for="password">Password</label>
        <input formControlName="password" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Password">
        <div *ngIf="createAccountForm.controls.password.dirty && createAccountForm.controls.password.errors" class="text-red-500">
            <span *ngIf="createAccountForm.controls.password.errors.required">Password is required</span>
            <!-- <span *ngIf="createAccountForm.controls.password.errors.minlength">Password is too short</span> -->
            <span *ngIf="createAccountForm.controls.password.errors.no_letter">Password has no letter</span>
            <span *ngIf="createAccountForm.controls.password.errors.too_short">Password is too short</span>
            <span *ngIf="createAccountForm.controls.password.errors.too_long">Password is too long</span>
            <span *ngIf="createAccountForm.controls.password.errors.no_num">Password has no number</span>
        </div>
    </div>
    <div class="mt-8" formGroupName="address">
        <h1 class="text-lg font-bold">Address</h1>
        <div class="mb-4">
            <label class="block text-md font-light mb-2 font-semibold" for="street">Street</label>
            <input formControlName="street" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Street">
        </div>

        <div class="mb-4">
            <label class="block text-md font-light mb-2 font-semibold" for="city">City</label>
            <input formControlName="city" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="City">
        </div>

        <div class="mb-4">
            <label class="block text-md font-light mb-2 font-semibold" for="state">State</label>
            <input formControlName="state" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="State">
        </div>

        <div class="mb-4">
            <label class="block text-md font-light mb-2 font-semibold" for="zip">Zip</label>
            <input formControlName="zip" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Zip">
        </div>
    </div>
    <div formArrayName="phoneNumbers" class="mb-4">
        <h1 class="text-lg font-bold">Phone Numbers<button (click)="addPhoneNumber()" class="
                        bg-yellow-600 hover:bg-blue-700 text-white text-xs font-light ml-2 py-2 px-2 rounded 
                        focus:outline-none focus:shadow-outline">Add Phone Number</button></h1>
        <div *ngFor="let phoneNumber of phoneNumbers.controls; let i=index" class="mt-4">
            <label class="block text-md font-light mb-2 font-semibold" for="phoneNumber">{{i+1}}. Phone Number</label>
            <input [formControlName]="i" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Phone Number">
            <div *ngIf="phoneNumbers.controls[i].dirty" class="text-red-500">
                <span *ngIf="phoneNumbers.controls[i].errors?.pattern">Phone Number is not valid</span>
            </div>
        </div>
    </div>
    <div class="flex items-center mb-5 space-x-1">
        <button [disabled]="!this.createAccountForm.valid" class="disabled:opacity-50 bg-indigo-600 hover:bg-blue-700 text-white font-light py-2 px-6 rounded focus:outline-none focus:shadow-outline" type="submit">Create Account</button>
        <button class="bg-red-600 hover:bg-blue-700 text-white font-light py-2 px-6 rounded focus:outline-none focus:shadow-outline" type="reset">Reset</button>
    </div>
    <p class="text-center text-md font-light">Don't have an account? <a routerLink="/create/account" class="font-light text-md text-indigo-600">Create</a></p>
</form>