<app-page-title pageTitle="Todos"></app-page-title>
<div class="w-1/2 mx-auto">
    <ul *ngFor="let todo of todos; index as i" class="mb-4">
        <li [ngClass]="todo.completed ? 'bg-green-600' : 'bg-red-400'" class="text-white p-4 rounded-mdtext-white">
            {{todo.title}}
        </li>
    </ul>
</div>