<nav class="items-center flex flex-row bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 py-4 px-4 text-white">
    <a class="flex-shrink cursor-pointer px-4 w-auto" routerLink="/">
        <svg class="w-8 h-8 text-white" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor"
                d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z">
            </path>
        </svg>
    </a>
    <a routerLink="/administration" class="ml-4" *appHasRole="'ADMINISTRATOR'">Administration</a>
    <a routerLink="/todos" class="ml-4" *appIsLogged="true">Todos</a>
    <button href="#" *appIsLogged="false" routerLink="/login" class="focus:outline-none bg-red-400 hover:bg-red-600 rounded-xl  ml-auto cursor-pointer px-4">Login</button>
    <button href="#" *appIsLogged="true" (click)="logout()" class="focus:outline-none bg-red-400 hover:bg-red-600 rounded-xl ml-auto cursor-pointer px-4">Logout
        ({{(user) ? user.email : ''}}) - Role: {{((user) ? user.role : '' )|alternate}}</button>
</nav>