<app-page-title pageTitle="Login"></app-page-title>

<form class="w-1/2 mx-auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-4">
        <label class="block text-md font-light mb-2 font-semibold" for="email">Email</label>
        <input formControlName="email" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="email" placeholder="Email">
        <div *ngIf="loginForm.controls.email.dirty && loginForm.controls.email.errors" class="text-red-500">
            <span *ngIf="loginForm.controls.email.errors.email">Email is not valid</span>
            <span *ngIf="loginForm.controls.email.errors.required">Email is required</span>
        </div>
    </div>
    <div class="mb-4">
        <label class="block text-md font-light mb-2 font-semibold" for="password">Password</label>
        <input formControlName="password" class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Password">
        <div *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.errors" class="text-red-500">
            <span *ngIf="loginForm.controls.password.errors.required">Password is required</span>
            <span *ngIf="loginForm.controls.password.errors.minlength">Password is too short</span>
        </div>
    </div>
    <div class="flex items-center mb-5 space-x-1">
        <button [disabled]="!this.loginForm.valid" class="disabled:opacity-50 bg-indigo-600 hover:bg-blue-700 text-white font-light py-2 px-6 rounded focus:outline-none focus:shadow-outline" type="submit">Login</button>
        <button class="bg-red-600 hover:bg-blue-700 text-white font-light py-2 px-6 rounded focus:outline-none focus:shadow-outline" type="reset">Reset</button>
        <a class="flex-grow text-right inline-block align-baseline font-light text-sm text-indigo-600 hover:text-indigo-500" href="#">
            Forgot Password?
        </a>
    </div>
    <p class="text-center text-md font-light">Don't have an account? <a routerLink="/create/account" class="font-light text-md text-indigo-600">Create</a></p>
</form>

<!-- <app-unauthorized [ngClass]="showUnauthorized ? 'show' : 'hidden'"></app-unauthorized> -->
<app-unauthorized (onAuthorizedEvent)="onAuthorizedEvent($event)"></app-unauthorized>